{% extends "base.html" %}

{% block title %}Detail Page{% endblock title %}

{% block content %}

<div class="row-fluid">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h1 class="panel-title">Topic info</h1>
            </div>
        <div class="panel-body">
            <p><b>ID:</b> {{ topic.key.id() }}</p>
            <p><b>Title:</b> {{ topic.title }}</p>
            <p><b>User:</b> {{ topic.author_email }}</p>
            <p><b>Fecha:</b> {{ topic.created.strftime('Creado a las %H:%M el %d.%m.%Y') }}</p>
            <p><b>Mensaje:</b> {{ topic.content }}</p>
            <p>&nbsp</p>
            <div class="volver">
            <form action="www.google.com">
                <p><input type="button" value="Inicio" onclick="location.href='/'"/></p>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>


{% endblock content %}

